@font-face {
  font-family: 'Montserrat-R';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bl-I';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/Montserrat-BlackItalic.ttf) format("truetype");
}