html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat-R', Arial, sans-serif;
  color: $main-black;
}

body {
  position: relative;
}

a,
a:link,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.bg-color-1 {
  background-color: transparent;
}

.bg-color-2 {
  background-color: rgba(0,0,0,0.85);
}