$main-white: #ffffff !default;
$main-black: #333333 !default;
$main-blue: #51dada;
$main-gold: #b09560;

$global-font-size: 100% !default;
$spacing-unit: 0.9375rem;
$spacing-gutter: 1.875rem;

$header-height: 6.875rem;
$header-height-scrolled: 4.375rem;

$main-transition-3: all 0.3s ease;
$main-transition-5: all 0.5s ease-in;